{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">change Password</h1> 
            <form method="post">
                <table class="table text-light">
                    <tr>
                        <td>
                            Enter old Password
                        </td>
                        <td>
                            <input type="text" name="oldpassword" class="form-control text-light">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Enter new Password
                        </td>
                        <td>
                            <input type="text" name="oldpassword" class="form-control text-light">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Enter confirm Password
                        </td>
                        <td>
                            <input type="text" name="oldpassword" class="form-control text-light">
                        </td>
                    </tr>
                    <tr>
                        <td>
                    
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success">change</button>
                        </td>
                    </tr>

                </table>
            </form>


              
        </div>
    </div>
{% endblock body %}
