{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">feedbacks</h1> 
            <table class="table table-bordered text-light">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>contactno</th>
                    <th>emailaddress</th>
                    <th>subject</th>
                    <th>feedbacks</th>
                    <th>posted date</th>
                    <th>delete</th>
                </tr>
                {% for f in feed %}
                <tr>
                    <td>{{f.id}}</td>
                    <td>{{f.name}}</td>
                    <td>{{f.contactno}}</td>
                    <td>{{f.emailaddress}}</td>
                    <td>{{f.subject}}</td>
                    <td>{{f.responsetext}}</td>
                    <td>{{f.posteddate}}</td>
                    <td>
                        <a href="{% url 'adminapp:delres' id=f.id %}" class="btn btn-sm btn-danger"> delete</a>
                    </td>
                </tr>

                {% endfor %}

            </table>  
              
        </div>
    </div>
{% endblock body %}
